# dependencies
node_modules

# build output
dist
tmp
out-tsc

# environment
.env

# logs
logs
*.log

# TypeScript
*.tsbuildinfo

# Expo
.expo
.expo-shared

# IDEs
.idea
.project
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
